<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduControll</title>
    <link rel="stylesheet" href="/Templates/css/style.css">
</head>
<body>
    <div class="login-box">
        <div class="logo">
            <h2>EduControll</h2>
        </div>
        <form action="/Templates/html/second.html" method="GET">
            <input type="email" placeholder="E-mail" required>
            <input type="password" placeholder="Senha" required>
            <input type="submit" value="Entrar no Sistema" required>
        </form>
        <a href="#">Esqueceu sua senha?</a>
        <p class="prototipo">
            Protótipo para avaliação do Projeto Integrador
        </p>
    </div>
</body>
</html>