<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro / EduControll</title>
    <link rel="stylesheet" href="/Templates/css/second.css">
</head>
<body>
    <!-- CABEÇALHO -->
    <header class="topbar">
    <div class="logo">
        <h2>EduControll</h2>
        </div>
        <div class="usuario">
            <p>Admin</p>
            <div class="ress">
                <form action="/Templates/html/responsaveis/responsaveis.html" method="GET">
                    <input type="submit" value="Responsavel">
                </form>
            </div>
            <div class="dash">
              <form action="/Templates/html/alunos/aluno.html" method="GET">
                 <input type="submit" value="Dashboard">
              </form>
        </div>
                </form>
                    <div class="out">
                        <form action="/Templates/html/index.html" method="GET">
                            <input type="submit" value="Sair">
                        </form>
                    </div>
                </form>
              </form>
    </header>
    <!-- CONTEÚDO -->
    <main class="pagina">
        <section class="cadastro">
            <!-- LADO ESQUERDO -->
         <div class="apresentacao">
         <h1>
            Cadastro de novo usuário
         </h1>
            <div class="linha"></div>
        <span class="description">
            Gestão escolar simples,
            organizada e eficiente.
         </span>
            </div>
            <!-- LADO DIREITO -->
            <div class="formulario">
                <div class="titulo">
                    <h2>Cadastar Usuário</h2>
                    <p>
                        Preencha os dados abaixo para
                        realizar o cadastro.
                    </p>
                </div>
                <form method="GET">
                    <!-- NOME -->
                    <div class="campo">
                        <label for="nome">
                            Nome completo
                        </label>
                        <input type="text" name="nome" placeholder="Digite o nome completo" required>
                    </div>
                    <!-- EMAIL -->
                    <div class="campo">
                        <label for="email">
                            E-mail
                        </label>
                        <input type="email" name="email" placeholder="usuario@escola.com" required>
                    </div>
                    <!-- PERFIL -->
                    <div class="campo">
                        <label for="perfil">
                            Perfil de acesso
                        </label>
                        <select name="perfil" required>
                            <option value="">
                                Selecione um perfil
                            </option>
                            <option value="aluno">
                                Aluno
                            </option>
                            <option value="professor">
                                Professor
                            </option>
                            <option value="administrador">
                                Administrador
                            </option>
                            <option value="responsavel">
                                Responsável
                            </option>
                        </select>
                    </div>
                    <!-- BOTÕES -->
                    <div class="botton">
                        <a href="#" class="cancelar">
                            Cancelar
                        </a>
                        <button type="submit">
                             Criar usuário
                        </button>

                    </div>

                </form>

            </div>

        </section>

    </main>

</body>
</html>