{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
    <title>Redefinir Senha | EduControll</title>
    <link rel="stylesheet" href="{% static 'css/senha/senha.css' %}">
</head>
<body>
    <main class="pagina-recuperacao">
        <div class="logo">
            <h1>EduControll</h1>
        </div>
        <section class="recuperacao-box">
            <h2>Definir nova senha</h2>
            <p class="descricao"> Escolha uma nova senha para sua conta. </p>
            <form method="POST">
                {% csrf_token %}
                <div class="campo">
                    <label for="nova_senha">Nova senha</label>
                    <input type="password" id="nova_senha" name="nova_senha" placeholder="Digite a nova senha" required>
                </div>
                <button type="submit">Redefinir senha</button>
            </form>
        </section>
        <p class="rodape">Protótipo para avaliação do Projeto Integrador</p>
    </main>
</body>
</html>