<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My App</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <div class="content first-content">
            <div class="first-column">
                <h2 class="title tilte-primary">Welcome back!</h2>
                <p class="description">To keep connected with us</p>
                <p class="description">please login with your personal info</p>
                <button class="btn btn-primary">sign in</button>
            </div>
            <div class="second-column">
                <h2 class="title">Create Account</h2>
                <div class="social-media">
                    <ul class="list-social-media">
                        <li><a href="#">GitHub</a></li>
                        <li><a href="#">Google</a></li>
                        <li><a href="#">LinkedIn</a></li>
                    </ul>
                </div><!-- Social Media -->
                <p class="description">or use your email for registration</p>
                <form class="form">
                    <input type="text" placeholder="Name">
                    <input type="email" placeholder="Email">
                    <input type="password" placeholder="Password">
                    <button class="btn">sign up</button>
                </form>
            </div><!-- Second Column -->
        </div><!-- first-content -->
        <div class="content second-content">
            <div class="first-column">
                <h2 class="title">Hello, Friend!</h2>
                <p class="description">Enter your personal details</p>
                <p class="description">and start your journey with us</p>
                <button class="btn">sign up</button>
            </div>
            <div class="first-column">
                <h2 class="title">Sign in to developer</h2>
                <div class="social-media">
                    <ul>
                        <li><a href="#">GitHub</a></li>
                        <li><a href="#">Google+</a></li>
                        <li><a href="#">LinkedIn</a></li>
                    </ul>
                </div><!-- Social Media -->
                <p class="description">or use your email for account</p>
                <form class="form">
                    <input type="email" placeholder="Email">
                    <input type="password" placeholder="Password">
                    <a href="#">Forgot your password?</a>
                    <button class="btn">sign in</button>
                </form>
            </div><!-- first Column -->
</div><!-- second-content -->
    </div>    
</body>
</html>